{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作内容</label>
                        <div class="layui-input-block">
                            <input type="text" name="content" placeholder="请输入操作人员" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作人员</label>
                        <div class="layui-input-block">
                            <input type="text" name="oper_member" placeholder="请输入操作人员" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="create_time" id="cztime" placeholder="请输入操作时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作状态</label>
                        <div class="layui-input-block">
                            <select name="status">
                                <option value="">全部</option>
                                <option value="新建成功">新建成功</option>
                                <option value="审核通过">审核通过</option>
                                <option value="驳回成功">驳回成功</option>
                                <option value="删除成功">删除成功</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md8">
                    <div class="layui-form-item" style="text-align: right">
                        <input type="submit" class="layui-btn search_btn" data-type="reload" value="查询">
                    </div>
                </div>
            </div>

        </form>
    </blockquote>
    <table class="layui-table">
        <colgroup>
        </colgroup>
        <thead>
        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">操作内容</th>
            <th style="text-align: center">操作人员</th>
            <th style="text-align: center">操作状态</th>
            <th style="text-align: center">操作时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr style="text-align: center">
            <td>{$v.id}</td>
            <td>{$v.content}</td>
            <td>{$v.oper_member}</td>
            <td>{$v.status}</td>
            <td>{$v.create_time}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div id="page" class="page">
        {$page|raw}
    </div>
    <!--操作-->
    <script type="text/html" id="usersListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form','layer','table','laydate'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,laydate=layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#cztime'
            ,type: 'datetime'
            ,range: '~'
            ,top:'110px'
        });

    })
</script>
{/block}