{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/checkedit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">船名牌号</label>
        <div class="layui-input-block">
            <input type="text" name="ship_number" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.ship_number)?$list.ship_number:''}">
        </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">船舶颜色</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"-->
<!--                   value="{:isset($list.name)?$list.name:''}" >-->
<!--        </div>-->
<!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">船主姓名</label>
        <div class="layui-input-block">
            <input type="text" name="ship_name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.ship_name)?$list.ship_name:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">船主联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="ship_phone" id="ship_phone" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.ship_phone)?$list.ship_phone:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">作业类型</label>
        <div class="layui-input-block">
            <input type="text" name="rang_type" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.rang_type)?$list.rang_type:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">船港籍</label>
        <div class="layui-input-block">
            <input type="text" name="ship_port" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.ship_port)?$list.ship_port:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出海事由</label>
        <div class="layui-input-block">
            <input type="text" name="sea_reason" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.sea_reason)?$list.sea_reason:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出海人数</label>
        <div class="layui-input-block">
            <input type="number" name="people_number" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.name)?$list.people_number:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出海成员1</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.name)?$list.name:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">成员联系电话</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.name)?$list.name:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出海成员2</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.name)?$list.name:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">成员联系电话</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.name)?$list.name:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出港时间</label>
        <div class="layui-input-block">
            <input type="text" name="clearance_time" id="cg" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.clearance_time)?$list.clearance_time:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">返港时间</label>
        <div class="layui-input-block">
            <input type="text" name="return_time" id="fg" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.return_time)?$list.return_time:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">作业海区范围</label>
        <div class="layui-input-block">
            <input type="text" name="range" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.range)?$list.range:''}" >
        </div>
    </div>
    {if condition="$list.status neq 1"}
    <div class="layui-form-item">
        <label class="layui-form-label" style="color: red">驳回理由</label>
        <div class="layui-input-block">
            <input type="text" name="reason" id="reason" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.reason)?$list.reason:''}" >
        </div>
    </div>
    {/if}
    {if condition="$list.status neq 1"}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">
            <input type="hidden" name="uid" value="{$uid}">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}"/>
            {if condition="($list.status eq 0) or ($list.status eq 2)"}
            <button class="layui-btn" lay-submit lay-filter="*">通过</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="bh" value="{$list.id}">驳回</button>
            {/if}
        </div>
    </div>
    {/if}
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    //驳回
    $('#bh').click(function () {
        var id = $(this).val();
        var reason = $('#reason').val();
        $.ajax({
            url:"{:url('/admin/homereason')}",
            type:'post',
            data:{id:id,reason:reason},
            dataType:'json',
            success:function (res) {
                var icon = 5;
                if (res.code) {
                    icon = 6;
                }
                layer.msg(res.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (res.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        //$('#token').val(data.data.token);
                        //obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }
        });
    });
    $('#ship_phone').blur(function () {
        var myreg = /^1[34578]\d{9}$/;
        if(!myreg.test($('#ship_phone').val())){
            layer.msg('手机号格式不正确');
        }
    });
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form', 'jquery', 'formSelects','laydate'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery,laydate=layui.laydate;
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            $('#group_id').val(layui.formSelects.value(id, 'val'));
        }, true);
        //日期时间范围
        laydate.render({
            elem: '#cg'
            ,type: 'datetime'
            ,range: true
            ,top:'110px'
        });
        //日期时间范围
        laydate.render({
            elem: '#fg'
            ,type: 'datetime'
            ,range: true
            ,top:'110px'
        });
        //表单验证
        form.verify({
            ship_phone:function(value, item){
                if(value){
                    if(!(/^1[34578]\d{9}$/.test(value))){
                        return '手机号格式不正确';
                    }
                }
            }
        });
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });


</script>
{/block}