{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-block">
                            <select name="status">
                                <option value="">全部</option>
                                <option value="0">未审核</option>
                                <option value="1">已通过</option>
                                <option value="2">已驳回</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">船名船号</label>
                        <div class="layui-input-block">
                            <input type="text" name="ship_number" placeholder="请输入船名船号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">船主名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="ship_name" placeholder="请输入船主名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">船主电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="ship_phone" placeholder="请输入船主联系电话" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">出港时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="clearance_time" id="cgdate" placeholder="请选择时间范围" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item" style="text-align: center">
                        <input type="submit" class="layui-btn search_btn" data-type="reload" value="查询">
                        <a class="layui-btn layui-btn-primary clear_btn" data-type="reload">重置</a>
                    </div>
                </div>
            </div>

        </form>
    </blockquote>
    <table class="layui-table" align="center">
        <colgroup>
        </colgroup>
        <thead>
        <tr>
            <th style="text-align: center">船主船号</th>
            <th style="text-align: center">船主</th>
            <th style="text-align: center">船主联系电话</th>
            <th style="text-align: center">作业类型</th>
            <th style="text-align: center">出海成员</th>
            <th style="text-align: center">审核状态</th>
            <th style="text-align: center">出港时间</th>
            <th style="text-align: center">返港时间</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr style="text-align: center">
            <td>{$v.ship_number}</td>
            <td>{$v.ship_name}</td>
            <td>{$v.ship_phone}</td>
            <td>{$v.rang_type}</td>
            <?php
            //var_dump(unserialize($v['member_info']));
        //$member_info = ltrim($v['member_info'],'[');
            //$member_info = rtrim($member_info,']');
            //$infoArr = explode(',',$member_info);
            //var_dump(json_decode($infoArr,true));
            //foreach($infoArr as $val){
                //var_dump($val['name']);
            //}
        ?>
            <td>{$v.member_info}</td>
            {if condition="$v.status eq 0"}
            <td>待审核</td>
            {elseif condition="$v.status eq 1" /}
            <td>已通过</td>
            {else /}
            <td style="color: red">已驳回</td>
            {/if}
            <td>{$v.clearance_time|date='Y-m-d H:i:s'}</td>
            <td>{$v.return_time|date='Y-m-d H:i:s'}</td>
            <td>
                {if condition="($v.status eq 0) or ($v.status eq 2)"}
                <button class="layui-btn layui-btn-xs edit" lay-event="edit" value="{$v.id}">审核</button>
                {else /}
                <button class="layui-btn layui-btn-xs edit" lay-event="edit" value="{$v.id}">查看</button>
                {/if}
                <button class="layui-btn layui-btn-xs layui-btn-danger del" lay-event="del" value="{$v.id}">删除</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div id="page" class="page">
        {$page|raw}
    </div>
</form>
{/block}
{block name="script"}
<script>

    layui.use(['form','layer','laydate'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,laydate=layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#cgdate'
            ,type: 'datetime'
            ,range: '~'
            ,top:'110px'
        });

        //编辑用户
        $('.edit').click(function(){
            var id = $(this).val();
            var index = layui.layer.open({
                title : "报备管理详情",
                type : 2,
                content : "{:url('/admin/checkedit')}"+'?id='+id,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        });
        //删除
        $('.del').click(function () {
            var id = $(this).val();
            layer.confirm('确定删除操作？',{icon:3, title:'提示信息'},function(index){
                $.post("{:url('/admin/homedel')}",{id:id},function(data){
                    var icon=5;
                    if(data.code){
                        icon=6;
                    }
                    layer.msg(data.msg, {icon:icon,time: 1500}, function () {
                        if(data.code){
                            //obj.del();
                            window.location.reload();
                        }
                    });
                })
            });
        });
    })
</script>
{/block}
