.apply-category {
    width: 100%;
    padding: 10px 0 0 0;
    background: white;
    position: relative;
}

.apply-category .choose{
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    width: 100%;
    left: 0;
    height:52px;
    background: white;
    top: 0;
}

.apply-category >.choose > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.apply-category >.choose > ul > li {
    width: 30%;
    text-align: center;
    border: 1px solid rgb(54,85,201);
    font-size: 14px;
    padding: 4px;
    color: rgb(54,85,201);
    background: white;
}
.apply-category >.choose > ul > li:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-right: -1px;
}
.apply-category >.choose > ul > li:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: -1px;
}
.apply-category >.choose > ul > li.active {
    background:rgb(54,85,201);
}

li > a {
    color:rgb(54,85,201);
    text-decoration: none!important;
}

li.active > a {
    color: white;
}

.apply-category .search_content {
    padding: 12px 0 0 0;
    margin-top: 40px;
    background: transparent;
}
.apply-category .search_content ul {
    list-style: none;
    background: rgb(241,241,241);
    padding: 10px;
}
.apply-category .search_content li {
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    background: white;
    border: none;
}
.search_content .apply-prop {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    font-size: 14px;
    color: rgb(155,155,155);
    padding-left: 12px;
}
.search_content .apply-prop p:last-child {
    padding-left: 20px;
}

h5 {
    padding-left: 12px;
    font-size: 14px;
    margin-bottom: 10px;
}

.reason-panel {
    border-top: 1px solid rgb(241,241,241);
    font-size: 12px;
}

.reason-panel .reason-style-pass {
    width: 100%;
    text-align: left;
    padding: 12px 0 0 12px;
    color: #00d20d;
}

.reason-panel .reason-style-reject {
    width: 100%;
    text-align: left;
    padding: 12px 0 0 12px;
    color: #d2272e;
}

.operate-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.operate-area button {
    color: transparent;
    outline: none;
    border: none;
    background: url("/decoration/rub.png") no-repeat left top/16px 16px;
}