body,
div,
section,
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
button,
input,
a,
img {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(243, 243, 243);
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: rgb(38, 38, 38);
}

button {
    outline: none;
}

.clear-fix::before,
.clear-fix::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


.position-absolute {
    position: absolute!important;
}

.position-related {
    position: relative!important;
}

.basic-font-color {
    color: rgb(54,85,201);
}

.basic-background-color {
    background: rgb(54,85,201);
}

.basic-background {
    background: rgb(243, 243, 243);
}
