.avatar {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    width: 100%;
}
input[type=file] {
    /*border: 2px dashed #ccc;*/
    text-indent: -100000em;
    color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    /*width: 50px;*/
    /*height: 50px;*/
}
.user-msg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 100%;
    padding: 40px 10px 36px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.direction {
    display: block;
    font-size: 12px;
    color: white;
    background: #ffce15;
    padding: 2px 12px;
    border-radius: 14px;
}
.user-frame {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}
.info-text {
    padding-left: 20px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-name {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
}
.avatar-panel {
    width: 66px;
    height: 66px;
    position: relative;
}

button.logout {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    background: rgb(54,85,201);
    border-radius: 22px;
    outline: none;
    border: none;
    color: white;
}

.account-operate {
    padding-left: 12%;
    list-style: none;
}

.account-operate li {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid rgb(241, 241, 241);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.account-operate li a {
    width: 100%;
    display: block;
    padding-left: 10px;
}

.icon-phone {
    left: -22px; bottom: 22px; width: 12px;height: 16px; position: absolute;
}

.icon-feedback {
    left: -22px; bottom: 22px; width: 16px;height: 12px; position: absolute;
}

.icon-service {
    left: -22px; bottom: 22px; width: 16px;height: 16px; position: absolute;
}