img {
    width: 100%;
}

.entrance-panel {
    position: relative;
}

.info-panel {
    position: relative;
    width: 90%;
    /*background: #006666;*/
    margin-left: 5%;
    margin-right: 5%;
    top: -100px;
}

.info-panel .entrance-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
    margin-bottom: 10px;
}

.info-panel .entrance-type p {
    width: 40%;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: white;
    padding-top: 60px;
    overflow: hidden;
}

.user-info input {
    display: block;
    width: 90%;
    border: none;
    outline: none;
    padding: 10px 6px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.59);
    margin: 0 auto 38px auto;
}
.user-info .get-code {
    /*background: transparent;*/
    border: none;
    outline: none;
    background: #ebebeb;
    font-size: 12px;
    color: rgb(54,85,201);
    border-radius: 30px;
    padding: 6px;
    position: absolute;
    top: 0;
    right: 20px;
}

.user-info input::-webkit-input-placeholder {
    color: rgba(225, 225, 225, 0.76);
}
#operate-type {
    margin-top: 30px;
    width: 100%;
    border-top-left-radius: 30px;
    background: rgb(54,85,201);
    border: none;
    color: white;
    padding-top:14px;
    padding-bottom:14px;
    font-size: 16px;
}

/* 平台注册部分开始 */
.step-guide {
    z-index: -20000;
    background: white;
    width: 100%;
    padding: 28px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.step-guide img {
    width: 18px;
    height: 18px;
    margin: 0 auto;
}
.step-guide .step-desc {
    display: flex;
    width: 26%;
    flex-direction: column;
}

.step-guide .step-desc p {
    margin-top: 10px;
    font-size: 2px;
    width: 100%;
    text-align: center;
}

.boat-owner,
.boat-info,
.boat-contact {
    margin-top: 10px;
    background: white;
}
.boat-owner .title,
.boat-info .title,
.boat-contact .title {
    padding: 10px;
    border-bottom: 1px solid rgb(225, 225, 225);
}
.boat-owner .title > div,
.boat-info .title > div,
.boat-contact .title > div{
    font-size: 14px;
    border-left: 3px solid rgb(54,85,201);
    padding-left: 10px;
}

.boat-owner > ul > li,
.boat-info > ul > li,
.boat-contact > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    margin: 0 10px;
    border-bottom: 1px solid rgb(225,225,225);
    font-size: 12px;
}
.boat-owner > ul > li:last-child,
.boat-info > ul > li:last-child,
.boat-contact > ul > li:last-child {
    border-bottom: none;
}

.boat-owner > ul > li > input,
.boat-info > ul > li > input,
.boat-contact > ul > li > input {
    text-align: right;
    border: none;
    outline: none;
}
.boat-owner > ul > li > input::placeholder,
.boat-info > ul > li > input::placeholder,
.boat-contact > ul > li > input::placeholder {
    color: rgb(225,225,225);
    font-size: 12px;
}

.boat-info .image-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.boat-info .image-view > input[type=file],
.owner-photo > input[type=file] {
    margin-top: 10px;
    border: 1px dashed rgb(225,225,225);
    text-indent: -100000em;
    color: transparent;
    width: 46%;
    height: 90px;
    background: url("/decoration/add_image.png") no-repeat center center/80px 80px;
}

.next-button {
    width: 100%;
    padding: 10px 0;
    color: white;
    font-size: 12px;
    background: rgb(54,85,201);
    border: none;
    border-radius: 30px;
}

.upload-id input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    text-indent: -100000em;
    color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    background: url("/decoration/icon4@3x.png") no-repeat center center/46px 46px;
}
.upload-owner {
    width: 100%;
    background: white;
    padding: 10px;
}
.upload-owner > p {
    font-size: 14px;
}
/* 平台注册部分结束 */