/* 轮播图部分开始*/
.banner {
    padding: 8px;
    background-color: white;
}

.banner .swiper-container {
    width: 100%;
}

.banner .swiper-container img {
    width: 100%;
    border-radius: 6px;
}

.radius-6 {
    /*border: 1px solid #ccc;*/
    border-radius: 6px;
    overflow: hidden;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    min-height: 125px;
    max-height: 125px;
    font-size: 14px;
    /*margin: 2px;*/
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 1px 1px 1px 16px;
}

.personal .info,
.personal .info-icon {
    width: 50%;
}

.personal .info-icon img {
    height: 125px;
    width: 125px;
    margin: 0 auto;
}

.personal .info p {
    padding: 2px 0;
    font-size: 12px;
}

.personal .info div {
    display: flex;
    flex-direction: column;
}

#marquee {
    padding-left: 22px;
    width: 100%;
    margin: 6px auto auto auto;
    max-height: 20px;
    overflow: hidden;   /*必须设置该属性*/
    font-size: 14px;
}

.announce {
    position: relative;
}

.announce img {
    position: absolute;
    top: 2px;
    height: 16px;
    width: 16px;
}

.child{
    width: 100%;
    text-align: left;
    line-height: 20px;
}

/* 轮播图部分完成*/



/*天气开始*/
.weather {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 2px;
    background-color: white;
    color: rgb(38, 38, 38);
}

.weather .located {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
.weather .located div:first-child {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather .located div:first-child img {
    width: 12px;
    height: 6px;
    margin-left: 6px;
}

.weather .located > div:last-child img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.weather .located .weather-desc{
    width: 40%;
    display: flex;
    flex-direction: row;
}
.weather .located .weather-desc p {
    text-align: right;
    width: 100%;
}

.weather .located .weather-desc div:first-child {
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 6px;
}
.weather .located .weather-desc div:last-child {
    width: 40%;
}
/*.weather .located .weather-desc p {*/
/*    width: 100%;*/
/*}*/

.weather .weather-detail .weather-more {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.weather .weather-detail .weather-more p {
    padding-left: 20px;
    position: relative;
    margin-bottom: 2px;
}

.weather .weather-detail .weather-more div{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.weather .weather-detail .weather-more .weather-icon-leaf {
    position: absolute;
    width: 26px;
    height: 26px;
    left: -4px;
    top: -4px;
}
.weather .weather-detail .weather-more .weather-icon-wind {
    position: absolute;
    width: 20px;
    height: 18px;
    left: -4px;
}

.weather .weather-detail .weather-more .weather-icon-water {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
}

.weather .weather-detail {
    width: 100%;
    margin-top: 10px;
    /*height: 36px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: aquamarine;*/
}
.weather .weather-detail > div {
    width: 25%;
    margin: 8px;
    box-shadow:0 2px 5px #c2c2c242;
    border-radius: 4px;
}
.weather .weather-detail > div:first-child {
    margin-left: 0;
}
.weather .weather-detail > div:last-child {
    margin-right: 0;
}

.weather .weather-detail > div {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}

.weather .weather-detail img {
    width: 100%;
}
.weather .weather-detail .weather-text {
    height: 50px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* 天气部分完成*/


/* 自助服务部分开始*/
.service {
    padding: 10px;
    background-color: white;
}
.service .service-title {
    font-size: 14px;
    border-left: 3px solid rgb(54,85,201);;
    position: relative;
}
.service .service-title p {
    padding-left: 10px;
}
.service .service-title img {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
}

.service .service-content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
}
.service .service-content > div {
    margin-top: 14px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.service .service-content img {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.service .service-content p {
    font-size: 12px;
    text-align: center;
}
/* 自助服务部分完成*/


/* 政务公告部分完成*/
.notice {
    background-color: white;
    margin-top: 8px;
    padding: 10px 0 0 0;
}
.notice .service-title {
    font-size: 14px;
    position: relative;
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notice .service-title p {
    padding-left: 10px;
    border-left: 3px solid rgb(54,85,201);
}
.notice .service-title img {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 12px;
}
.notice .notice-list {
    border-top: 1px solid rgba(132, 132, 132, 0.52);
}
.notice .notice-list .article {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}
.notice .notice-list .article img {
    width: 78px;
    height: 56px;
    border-radius: 8px;
    /*padding: 6px;*/
}

.notice .notice-list .article > div {
    padding-left: 6px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.notice .notice-list .article {
    font-size: 16px;

}
.notice .notice-list .intro {
    font-size: 12px;
    color: #8a8a8a;
}
/* 政务公告部分完成*/
