/* 个人信息页开始 */
.avatar {
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 4px #c7c4c4;
    border-radius: 2px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.avatar > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.avatar > a {
    color: #afacac;
    display: block;
    border-radius: 4px;
    border: 1px solid #cccccc;
    height: 30px;
    font-size: 14px;
    padding: 4px;
    margin-left: 20px;
}

.operate {
    padding: 16px 0;
}

.operate ul {
    list-style: none;
}

.operate ul li {
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 0 8px 38px;
    margin-bottom: 16px;
    font-size: 14px;
    /*padding-left: 10px;*/
}
.operate ul li img {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 10px;
}

/* 个人信息页结束 */

/* 个人信息编辑页开始 */

.edit {
    margin-top: 10px;
}

.edit li {
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 8px 14px;
    margin-bottom: 16px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.edit label {
    width: 20%;
}

.edit input {
    padding-left: 20px;
    width: 80%;
    border: none;
    background: transparent;
    outline: none;
    height: 20px;
}

#browser {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#browser div {
    margin: 0 10px;
}
#browser img {
    width: 60px;
    height: 60px;
}

input[type=file] {
    border: 2px dashed #ccc;
    text-indent: -100000em;
    color: transparent;
    width: 50px;
    height: 50px;
    background: url("../images/camera.png") no-repeat center center /40px 40px;
}
/* 个人信息编辑页结束 */
