{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane">

    <div class="layui-form-item">
        <label class="layui-form-label">轮播图</label>
        <div class="layui-input-block">
            <!--<button type="button" class="layui-btn" id="test1"><i class="layui-icon">&#xe67c;</i>上传船舶照片</button>-->
            <!--<button type="button" class="layui-btn" id="test9">开始上传</button>-->
            <!--<blockquote class="layui-elem-quote layui-quote-nm b1" style="margin-top: 10px;display: none">-->
                <!--预览图：-->
                <!--<div class="layui-upload-list" id="demo1"></div>-->
            <!--</blockquote>-->

            <div class="image-view" id="image_browser" style="margin-left: 1em">
                <input type="file" name="ship_images[]" id="image_upload">
            </div>


        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片信息</label>
        <div class="layui-input-block">
            <input type="text" name="img_name" id="img_name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.img_name)?$list.img_name:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" id="sort" class="layui-input" value="{:isset($list.sort)?$list.sort:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="">
            <button class="layui-btn" lay-submit lay-filter="*" style="margin-left: 100em" id="next-step">提交</button>
        </div>
    </div>

</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>

    layui.use('layer', function(){
        var layer = layui.layer;



    $(document).ready(function () {
        var shipImage = false;
        let boatInfo = [];
        var formData = new FormData();

        $('#image_upload').change(function () {
            $('#image_upload').nextAll().remove()
            boatInfo = this.files;
            console.log(boatInfo)
            for (var index = 0; index < boatInfo.length; index++) {
                var reader = new FileReader();
                reader.readAsDataURL(boatInfo[index]);
                formData.append('information_info[]', boatInfo[index])
                reader.onload = function (e) {
                    // 图片base64化
                    var newUrl = this.result;
                    $('<img src="' + newUrl + '" style="width:50px; height:50px; padding: 5px; margin: 10px;"  />').appendTo('#image_browser');
                };
            }
            shipImage = true
        })

        $('#next-step').click(function (e) { // 验参
            if (shipImage === false) {
                alert('请上传船舶图片信息')
                e.preventDefault();
                return false;
            }

            formData.append('img_name', $('#img_name').val())
            formData.append('sort', $('#sort').val())
            $.ajax({
                url: "{:url('/admin/addbanner')}",
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    if (parseInt(response.code) === 1) {
                        layer.msg(response.msg, {icon: 6, time: 1500}, function () {   //提示的插件，可以使用alert代替

                                setTimeout(function () {
                                    //刷新父页面
                                    parent.location.reload();
                                }, 500);

                        });
                    }
                }
            });return false;
        })
    })
    });
</script>
{/block}