{extend name="base/base"/}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">banner管理</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <a class="layui-btn layui-btn-danger layui-btn-normal addbanner_btn">添加</a>
                        <table class="layui-table">
                            <colgroup>
                            </colgroup>
                            <thead>
                            <tr>
                                <th style="text-align: center">ID</th>
                                <th style="text-align: center">排序</th>
                                <th style="text-align: center">图片</th>
                                <th style="text-align: center">图片信息</th>
                                <th style="text-align: center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="v"}
                            <tr style="text-align: center">
                                <td>{$v.id}</td>
                                <td>{$v.sort}</td>
                                <td><img src="{$v.img_path}"/></td>
                                <td>{$v.img_name}</td>
                                <td>

                                    <!--<a class="layui-btn layui-btn-xs edit edit_img" lay-event="edit" data-id="{$v.id}">编辑</a>-->

                                    <button class="layui-btn layui-btn-xs layui-btn-danger del" lay-event="del" value="{$v.id}">删除</button>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </blockquote>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form','layer','table','element'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery, table = layui.table,element = layui.element;

        $(".addbanner_btn").click(function(){
            add();
        })

        //添加轮播图
        function add(){
            var index = layui.layer.open({
                title : "添加",
                type : 2,
                content : "{:url('/admin/addbanner')}",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            });
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }

        //编辑轮播图
        $('.edit_img').click(function () {
            var id = $(this).attr('data-id');
            var index = layui.layer.open({
                title : "编辑公告",
                type : 2,
                content : "{:url('/admin/addbanner')}"+'?id='+id,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            });
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        });

        //删除
        $('.del').click(function () {
            var id = $(this).val();
            layer.confirm('确定删除操作？',{icon:3, title:'提示信息'},function(){
                $.post("{:url('/admin/delimg')}",{id:id},function(data){
                    var icon=5;
                    if(data.code){
                        icon=6;
                    }
                    layer.msg(data.msg, {icon:icon,time: 1500}, function () {
                        if(data.code){
                            //obj.del();
                            window.location.reload();
                        }
                    });
                })
            });
            return false;
        });
    })
</script>
{/block}