{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/msgedit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">船名牌号</label>
        <div class="layui-input-block">
            <input type="text" name="ship_name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.ship_name)?$list.ship_name:''}">
        </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">船舶颜色</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input type="text" name="ship_color" placeholder="请输入" autocomplete="off" class="layui-input"-->
<!--                   value="{:isset($list.ship_color)?$list.ship_color:''}" >-->
<!--        </div>-->
<!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">船主姓名</label>
        <div class="layui-input-block">
            <input type="text" name="owner_name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.owner_name)?$list.owner_name:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">船主联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="phone" id="phone" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.phone)?$list.phone:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">现住地址</label>
        <div class="layui-input-block">
            <input type="text" name="now_address" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.now_address)?$list.now_address:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">户籍所在地</label>
        <div class="layui-input-block">
            <input type="text" name="register_address" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.register_address)?$list.register_address:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">吨位</label>
        <div class="layui-input-block">
            <input type="text" name="tonnage" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.tonnage)?$list.tonnage:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">船籍港</label>
        <div class="layui-input-block">
            <input type="text" name="ship_registry" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.ship_registry)?$list.ship_registry:''}" >
        </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">作业类型</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input type="text" name="rang_type" placeholder="请输入" autocomplete="off" class="layui-input"-->
<!--                   value="{:isset($list.rang_type)?$list.rang_type:''}" >-->
<!--        </div>-->
<!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">紧急联系人</label>
        <div class="layui-input-block">
            <input type="text" name="exigency_name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.exigency_name)?$list.exigency_name:''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">紧急联系人联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="exigency_phone" id="exigency_phone" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.exigency_phone)?$list.exigency_phone:''}" >
        </div>
    </div>
    {if condition="$list.status neq 1"}
    <div class="layui-form-item">
        <label class="layui-form-label" style="color: red">驳回理由</label>
        <div class="layui-input-block">
            <input type="text" name="reason" id="reason" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.reason)?$list.reason:''}" >
        </div>
    </div>
    {/if}
    <div class="layui-form-item">
        <label class="layui-form-label">上传船舶照片</label>
        <div class="layui-input-block">
            {if condition="$list.ship_image neq ''"}
            <?php
            $ships = unserialize($list['ship_image']);
            //var_dump($ships);
            ?>
            {volist name="ships" id="s"}
            <img src="{$s}" alt="船舶照片" width="150px" height="150px">
            {/volist}
            {/if}
            <button type="button" class="layui-btn" id="test1"><i class="layui-icon">&#xe67c;</i>上传船舶照片</button>
            <button type="button" class="layui-btn" id="test9">开始上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm b1" style="margin-top: 10px;display: none">
                预览图：
                <div class="layui-upload-list" id="demo1"></div>
            </blockquote>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上传船主身份证正面照</label>
        <div class="layui-input-block">
            {if condition="$list.card_front_image neq ''"}
            <img src="{$list.card_front_image}" alt="船主身份证正面照" width="150px" height="150px">
            {/if}
            <button type="button" class="layui-btn" id="test2" value="{$list.id}"><i class="layui-icon">&#xe67c;</i>上传船主身份证正面照</button>
            <blockquote class="layui-elem-quote layui-quote-nm b2" style="margin-top: 10px;display: none">
                预览图：
                <div class="layui-upload-list" id="demo2"></div>
            </blockquote>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上传船主身份证反面照</label>
        <div class="layui-input-block">
            {if condition="$list.card_back_image neq ''"}
            <img src="{$list.card_back_image}" alt="船主身份证反面照" width="150px" height="150px">
            {/if}
            <button type="button" class="layui-btn" id="test3" value="{$list.id}"><i class="layui-icon">&#xe67c;</i>上传船主身份证反面照</button>
            <blockquote class="layui-elem-quote layui-quote-nm b3" style="margin-top: 10px;display: none">
                预览图：
                <div class="layui-upload-list" id="demo3"></div>
            </blockquote>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上传船主照片</label>
        <div class="layui-input-block">
            {if condition="$list.owner_image neq ''"}
            <?php
            $owners = unserialize($list['owner_image']);
            //var_dump($owners);
            ?>
            {volist name="owners" id="o"}
            <img src="{$o}" alt="船主照片" width="150px" height="150px">
            {/volist}
            {/if}
            <button type="button" class="layui-btn" id="test4"><i class="layui-icon">&#xe67c;</i>上传船主照片</button>
            <button type="button" class="layui-btn" id="test10">开始上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm b4" style="margin-top: 10px;display: none">
                预览图：
                <div class="layui-upload-list" id="demo4"></div>
            </blockquote>
        </div>
    </div>
    {if condition="$list.status neq 1"}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">
            <input type="hidden" name="uid" value="{$uid}">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}"/>
            {if condition="($list.status eq 0) or ($list.status eq 2)"}
            <button class="layui-btn" lay-submit lay-filter="*">通过</button>
            {if condition="$list.id neq ''"}
            <button type="reset" class="layui-btn layui-btn-primary" id="bh" value="{$list.id}">驳回</button>
            {else /}
            <button type="reset" class="layui-btn layui-btn-primary" id="quxiao">取消</button>
            {/if}
            {/if}
        </div>
    </div>
    {/if}
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    //取消
    $('#quxiao').click(function () {
        $('input').val('');
    });
    //驳回
    $('#bh').click(function () {
        var id = $(this).val();
        var reason = $('#reason').val();
        $.ajax({
            url:"{:url('/admin/reason')}",
            type:'post',
            data:{id:id,reason:reason},
            dataType:'json',
            success:function (res) {
                var icon = 5;
                if (res.code) {
                    icon = 6;
                }
                layer.msg(res.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (res.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        //$('#token').val(data.data.token);
                        //obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }
        });
    });
    $('#phone').blur(function () {
        var myreg = /^1[34578]\d{9}$/;
        if(!myreg.test($('#phone').val())){
            layer.msg('手机号格式不正确');
        }
    });
    $('#exigency_phone').blur(function () {
        var myreg = /^1[34578]\d{9}$/;
        if(!myreg.test($('#exigency_phone').val())){
            layer.msg('手机号格式不正确');
        }
    });
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form', 'jquery', 'formSelects','upload'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery;
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            $('#group_id').val(layui.formSelects.value(id, 'val'));
        }, true);
        //表单验证
        form.verify({
            phone:function(value, item){
                if(value){
                    if(!(/^1[34578]\d{9}$/.test(value))){
                        return '手机号格式不正确';
                    }
                }
            },
            exigency_phone:function(value, item){
                if(value){
                    if(!(/^1[34578]\d{9}$/.test(value))){
                        return '手机号格式不正确';
                    }
                }
            },
        });
        var upload = layui.upload;
        //var tag_token = $(".tag_token").val();
        var files1;
        var files2;
        var files3;
        var form1 = [];
        var form2 = [];
        var form3 = [];
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,type : 'images|file'
            ,field:'pic1'
            ,multiple: true
            ,exts: 'jpg|png|gif|jpeg' //设置一些后缀，用于演示前端验证和后端的验证
            ,auto:false //选择图片后是否直接上传
            //,accept:'images' //上传文件类型
            ,url: "{:url('/admin/msgedit1')}"
            ,bindAction: '#test9'
            ,before:function (obj) {
                obj.preview(function(index, file, result){
                    //console.log(1111)
                    //$('#slide-pc-priview').append('<input type="hidden" name="pc_src[]" value="' + result + '" />');
                    $('.b1').css('display','block');
                    $('#demo1').append('<img width="150px" height="150px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res, index, upload){
                //上传成功
                if(res.code==0){
                    return layer.msg('上传成功',{icon: 6},function () {
                        window.location.reload();
                    });
                }else if(res.code == 1){
                    //上传成功
                    layer.msg(res.msg);
                }
            }
        });
        //船主身份证正面照
        var uploadInst = upload.render({
            elem: '#test2'
            ,type : 'images|file'
            ,multiple: true
            ,field:'pic2'
            ,exts: 'jpg|png|gif|jpeg' //设置一些后缀，用于演示前端验证和后端的验证
            //,auto:false //选择图片后是否直接上传
            //,accept:'images' //上传文件类型
            ,url: "{:url('/admin/msgedit2')}"
            ,data:{id:$('#test2').val()}
            //,bindAction: '#test2'
            //,data:{'form1':form1}
            ,before:function (obj) {
                obj.preview(function(index, file, result){
                    //console.log(1111)
                    //$('#slide-pc-priview').append('<input type="hidden" name="pc_src[]" value="' + result + '" />');
                    $('.b2').css('display','block');
                    $('#demo2').append('<img width="150px" height="150px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res, index, upload){
                //上传成功
                if(res.code==0){
                    //追加图片成功追加文件名至图片容器
                    //multiple_images.push(res.data.url);
                    //$('.multiple_show_img').val(multiple_images);
                    return layer.msg('上传成功',{icon: 6},function () {
                        window.location.reload();
                    });
                }else if(res.code == 1){
                    //上传成功
                    layer.msg(res.msg);
                }
            }
        });
        //船主身份证反面照
        var uploadInst = upload.render({
            elem: '#test3'
            ,type : 'images|file'
            ,multiple: true
            ,field:'pic3'
            ,exts: 'jpg|png|gif|jpeg' //设置一些后缀，用于演示前端验证和后端的验证
            //,auto:false //选择图片后是否直接上传
            //,accept:'images' //上传文件类型
            ,url: "{:url('/admin/msgedit3')}"
            ,data:{id:$('#test3').val()}
            //,bindAction: '#test2'
            //,data:{'form1':form1}
            ,before:function (obj) {
                obj.preview(function(index, file, result){
                    //console.log(1111)
                    //$('#slide-pc-priview').append('<input type="hidden" name="pc_src[]" value="' + result + '" />');
                    $('.b3').css('display','block');
                    $('#demo3').append('<img width="150px" height="150px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res, index, upload){
                //上传成功
                if(res.code==0){
                    //追加图片成功追加文件名至图片容器
                    //multiple_images.push(res.data.url);
                    //$('.multiple_show_img').val(multiple_images);
                    return layer.msg('上传成功',{icon: 6},function () {
                        window.location.reload();
                    });
                }else if(res.code == 1){
                    //上传成功
                    layer.msg(res.msg);
                }
            }
        });
        var uploadInst = upload.render({
            elem: '#test4'
            ,type : 'images|file'
            ,field:'pic4'
            ,multiple: true
            ,exts: 'jpg|png|gif|jpeg' //设置一些后缀，用于演示前端验证和后端的验证
            ,auto:false //选择图片后是否直接上传
            //,accept:'images' //上传文件类型
            ,url: "{:url('/admin/msgedit4')}"
            ,bindAction: '#test10'
            ,before:function (obj) {
                obj.preview(function(index, file, result){
                    //console.log(1111)
                    //$('#slide-pc-priview').append('<input type="hidden" name="pc_src[]" value="' + result + '" />');
                    $('.b4').css('display','block');
                    $('#demo4').append('<img width="150px" height="150px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res, index, upload){
                //上传成功
                if(res.code==0){
                    return layer.msg('上传成功',{icon: 6},function () {
                        window.location.reload();
                    });
                }else if(res.code == 1){
                    //上传成功
                    layer.msg(res.msg);
                }
            }
        });
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });
</script>
{/block}