{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/noticeedit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">文字标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" id="title" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.title)?$list.title:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上传文章封面</label>
        <div class="layui-input-block">
            <div class="owner-photo" id="photo-browser" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <input type="file" name="owner_images[]" id="upload_owner" multiple>
            </div>
            <button class="layui-btn" id="complete-info">上传图片</button>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea id="container" name="content">{:isset($list.content)?$list.content:''}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">
            <input type="hidden" name="uid" value="{$uid}">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}"/>
            <button class="layui-btn" lay-submit lay-filter="*">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}

<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container',{
        initialFrameWidth:1550,
        initialFrameHeight:400
    });
</script>
<script>
    $(document).ready(function () {
        let informationInfo = [];
        var formData = new FormData();
        var owner = false;


        $('#upload_owner').change(function () {
            $('#upload_owner').nextAll().remove();
            informationInfo = this.files;
            for (var index = 0; index < informationInfo.length; index++)
            {
                var reader = new FileReader();
                reader.readAsDataURL(informationInfo[index]);
                formData.append('information_info[]',informationInfo[index]);
                reader.onload = function(e) {
                    // 图片base64化
                    var newUrl = this.result;
                    $('<img src="'+newUrl+'" style="width:100px; height:100px; padding: 5px; margin: 10px;"  />').appendTo('#photo-browser');
                };
            }
            owner = true
        });
        $('#complete-info').click(function (event) {
            if(owner === false){
                layer.msg('请选择图片');
                return false;
            }
            $.ajax({
                url:"{:url('/admin/uploadnoticeimg')}",
                type:"post",
                contentType:false,
                processData:false,
                data:formData,
                success:function (data) {
                    if (parseInt(data.code) === 1)
                    {
                        layer.msg(data.msg);
                    }
                }
            });
        });

    });

    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    layui.use(['form', 'jquery', 'formSelects'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery;
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            $('#group_id').val(layui.formSelects.value(id, 'val'));
        }, true);

        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });


</script>
{/block}