{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" id="cgdate" placeholder="请用户名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">新增时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="create_time" id="createtime" placeholder="请输入时间范围" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item" style="text-align: center">
                        <input type="submit" class="layui-btn search_btn" data-type="reload" value="查询">
                        <a class="layui-btn layui-btn-primary clear_btn" data-type="reload">重置</a>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                    <a class="layui-btn  layui-btn-normal adduser_btn"><i class="layui-icon">&#xe654;</i> 新建</a>
                    <button class="layui-btn layui-btn-danger layui-btn-normal del_btn" title="" id="del"><i class="layui-icon">&#xe640;</i>删除</button>
                </div>
            </div>
        </form>
    </blockquote>
    <table class="layui-table">
        <colgroup>
        </colgroup>
        <thead>
        <tr>
            <th style="text-align: center"><input type="checkbox" id="qx" lay-filter="allCheck"></th>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">公告标题</th>
            <th style="text-align: center">公告内容</th>
            <th style="text-align: center">新增时间</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr style="text-align: center;">
            <td><input type="checkbox" lay-filter="campus" name="checkBox" class="campus" id="cb" value="{$v.id}"></td>
            <td>{$v.id}</td>
            <td>{$v.title}</td>
            <?php
            $content = strip_tags($v['content']);
            //echo $content;
            ?>
            <td>{$content}</td>
            <td>{$v.create_time|date='Y-m-d H:i:s'}</td>
            <td>
                <button class="layui-btn layui-btn-xs edit" lay-event="edit" value="{$v.id}">编辑</button>
                <button class="layui-btn layui-btn-xs layui-btn-danger del" lay-event="del" value="{$v.id}">删除</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div id="page" class="page">
        {$page|raw}
    </div>
    <!--操作-->
    <script type="text/html" id="usersListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
</form>
{/block}
{block name="script"}
<script>
    $('#qx').on('click',function(){
        var flage = $(this).is(":checked");
        $("input[type=checkbox]").each(function(){
            $(this).prop('checked',flage);
        });
        $("input[type=checkbox]").click(function(){
            var flage1 = true;
            for(var i=0;i<$("input[name=checkBox]").length;i++){
                if(!$($("input[name=checkBox]")[i]).is(":checked")){
                    flage1=false;
                    break;
                }
            }
            $("#qx").prop('checked',flage1);
        });
    });
    //批量删除
    $(".del_btn").on('click',function(e){
        e.preventDefault();
        var arr = [];
        if($("input[name=checkBox]:checked").length<1){
            alert('还没有勾选要删除的数据，请勾选。。。');
            return false;
        }
        $("input[name=checkBox]:checked").each(function(i){
            arr[i] = $(this).val();
        });
        var vals = arr.join(',');//获取多个id数据，如1,2,3
        layui.use('layer',function(){
            layer.confirm('确定要删除数据？',{icon:3,title:'提示',yes:function(){
                    $.ajax({
                        url:"{:url('/admin/delall')}",
                        type:"post",
                        data:{id:vals},
                        success:function(data){
                            //console.log(data.status);
                            if(data.status==0){
                                layer.msg(data.msg+"<br />删除了"+data.data+"条数据！",{icon:1,time:3000},function(){
                                    window.location.reload();
                                })
                            }else {
                                layer.msg(data.msg,{icon:1,time:3000});
                            }
                        }
                    });
                },cancel:function(){

                }})
        });
    });
    layui.use(['form','layer','laydate'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,laydate=layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#createtime'
            ,type: 'datetime'
            ,range: '~'
            ,top:'110px'
        });

        //添加用户
        function add(){
            var index = layui.layer.open({
                title : "添加资讯",
                type : 2,
                content : "{:url('/admin/noticeedit')}",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            });
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        //编辑用户
        $('.edit').click(function(){
            var id = $(this).val();
            var index = layui.layer.open({
                title : "编辑资讯",
                type : 2,
                content : "{:url('/admin/noticeedit')}"+'?id='+id,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        });

        $(".adduser_btn").click(function(){
            add();
        });

        $('.del').click(function () {
            var id = $(this).val();
            layer.confirm('确定删除操作？',{icon:3, title:'提示信息'},function(index){
                $.post("{:url('/admin/noticedel')}",{id:id},function(data){
                    var icon=5;
                    if(data.code){
                        icon=6;
                    }
                    layer.msg(data.msg, {icon:icon,time: 1500}, function () {
                        if(data.code){
                            window.location.reload();
                        }
                    });
                })
            });
        });

    })
</script>
{/block}