{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="owner_name" id="owner_name" placeholder="请用户名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-block">
                            <input type="text" name="card_number" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户住址</label>
                        <div class="layui-input-block">
                            <input type="text" name="now_address" placeholder="请输入用户住址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">船港书籍</label>
                        <div class="layui-input-block">
                            <select name="ship_registry">
                                <option value="">全部</option>
                                <option value="0">北京</option>
                                <option value="1">上海</option>
                                <option value="2">广州</option>
                                <option value="3">深圳</option>
                                <option value="4">杭州</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item" style="text-align: center">
                        <input type="submit" class="layui-btn search_btn" data-type="reload" value="查询">
                        <a class="layui-btn layui-btn-primary clear_btn" data-type="reload">重置</a>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                <a class="layui-btn layui-btn-danger layui-btn-normal adduser_btn">添加</a>
                </div>
            </div>

        </form>
    </blockquote>
    <table class="layui-table">
        <colgroup>
        </colgroup>
        <thead>
        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">用户名称</th>
            <th style="text-align: center">联系电话</th>
            <th style="text-align: center">身份证号</th>
            <th style="text-align: center">船港籍</th>
            <th style="text-align: center">用户住址</th>
            <th style="text-align: center">状态</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr style="text-align: center">
            <td>{$v.id}</td>
            <td>{$v.owner_name}</td>
            <td>{$v.phone}</td>
            <td>{$v.card_number}</td>
            <td>{$v.ship_registry}</td>
            <td>{$v.now_address}</td>
            {if condition="$v.status eq 0"}
                <td>待审核</td>
            {elseif condition="$v.status eq 1" /}
                <td>已通过</td>
            {else /}
                <td style="color: red">已驳回</td>
            {/if}
            <td>
                {if condition="($v.status eq 0) or ($v.status eq 2)"}
                <button class="layui-btn layui-btn-xs edit" lay-event="edit" value="{$v.id}">审核</button>
                {else /}
                <button class="layui-btn layui-btn-xs edit" lay-event="edit" value="{$v.id}">查看详情</button>
                {/if}
                <button class="layui-btn layui-btn-xs layui-btn-danger del" lay-event="del" value="{$v.id}">删除</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div id="page" class="page">
        {$page|raw}
    </div>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form','layer','table'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        //添加用户
        function add(){
            var index = layui.layer.open({
                title : "添加船主信息",
                type : 2,
                content : "{:url('/admin/msgedit')}",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            });
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        }
        //编辑用户
        $('.edit').click(function () {
            var id = $(this).val();
            var index = layui.layer.open({
                title : "编辑船主信息",
                type : 2,
                content : "{:url('/admin/msgedit')}"+'?id='+id,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            });
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        });

        $(".adduser_btn").click(function(){
            add();
        });
        //删除
        $('.del').click(function () {
            var id = $(this).val();
            layer.confirm('确定删除操作？',{icon:3, title:'提示信息'},function(index){
                $.post("{:url('/admin/usermsgdel')}",{id:id},function(data){
                    var icon=5;
                    if(data.code){
                        icon=6;
                    }
                    layer.msg(data.msg, {icon:icon,time: 1500}, function () {
                        if(data.code){
                            //obj.del();
                            window.location.reload();
                        }
                    });
                })
            });
        });
    })
</script>
{/block}